<div class="container-fluid">
    <div class="row">
        <div class="col-lg-4"><span class="pull-right">Maven</span></div>
        <div class="col-lg-8">{{project.params.maven}}</div>
    </div>

    <div class="row">
        <div class="col-lg-4"><span class="pull-right">Tomcat</span></div>
        <div class="col-lg-8">{{project.params.tomcat}}</div>
    </div>

    <div class="row">
        <div class="col-lg-4"><span class="pull-right">Directory</span></div>
        <div class="col-lg-8">{{project.directory}}</div>
    </div>
</div>