<div class="col-lg-12 well">
    <div class="row">
        <div class="col-lg-6">
            <h4>Maven configuration</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"><span class="pull-right">Maven configuration name</span></div>
        <div class="col-lg-4">{{maven.name}}</div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="pull-right">Maven version</span></div>
        <div class="col-lg-4">{{maven.version}}</div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="pull-right">Maven home</span></div>
        <div class="col-lg-4">{{maven.home}}</div>
    </div>
</div>