<div class="col-lg-12 well">
    <div class="row">
        <div class="col-lg-6">
            <h4>Tomcat configuration</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2"><span class="pull-right">Tomcat configuration name</span></div>
        <div class="col-lg-4">{{tomcat.name}}</div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="pull-right">Tomcat port</span></div>
        <div class="col-lg-4">{{tomcat.port}}</div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="pull-right">Tomcat container name</span></div>
        <div class="col-lg-4">{{tomcat.container.name}}</div>
    </div>

    <div class="row">
        <div class="col-lg-2"><span class="pull-right">Tomcat container home</span></div>
        <div class="col-lg-4">{{tomcat.container.home}}</div>
    </div>
</div>